<a href="https://colab.research.google.com/github/rafikbendj/RandomQuotes-Java/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A la découverte du Titanic

Le Titanic est un vaisseau très connu mais saviez vous que c’est aussi l’un des datasets les plus populaire en Data Science. Voici le lien vers le dataset :

[https://www.kaggle.com/c/titanic/](https://www.kaggle.com/c/titanic/)

Le Machine Learning est bien sûr une histoire de prédiction et de compréhension statistiques des données. Aujourd’hui, nous allons vous montrer que nous pouvons drastiquement améliorer la qualité de nos prédictions grâce au preprocessing.

# Nouvelle section

1. Téléchargez le dataset _train.csv_ et ouvrez le dans un dataframe
2. Essayez de comprendre ce que contient ce dataset
    1. Vous trouverez toutes les explications via ce lien : [https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("train.csv", sep = ',')

In [ ]:
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

3. Certaines colonnes semblent inutiles. Supprimez les colonnes Name, Ticket  et PassengerId

In [ ]:
del dataset["Name"], dataset["Ticket"]
  ### Autre façon de supprimer les colonnes :
  # dataset = dataset.drop(["Name", 'Ticket', 'Cabin'], axis = 1)

In [ ]:
del dataset["PassengerId"]

In [ ]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

4. Affichez quelques statistiques sur les colonnes

In [ ]:
dataset.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

5. Vérifier si les colonnes contiennent des valeur manquantes

In [5]:
dataset.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

6. Evaluer la proportion de valeur manquantes pour chaque colonne

In [ ]:
dataset.isnull().sum()/len(dataset)

Survived    0.000000
Pclass      0.000000
Sex         0.000000
Age         0.198653
SibSp       0.000000
Parch       0.000000
Fare        0.000000
Cabin       0.000000
Embarked    0.002245
dtype: float64

# Valeur manquantes

7.  Remplacez la colonne Cabin pour récupèrer la première lettre de la cabine

In [6]:
dataset.Cabin=dataset.Cabin.apply(lambda x: str(x))
dataset.Cabin=dataset.Cabin.apply(lambda x: x[0])

In [10]:
dataset.Cabin.unique()

array(['n', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

8. Remplacer les valeurs manquantes grâce à la technique de votre choix pour les colonnnes concernées

In [8]:
dataset['Age']=dataset['Age'].fillna(dataset['Age'].median())

In [11]:
dataset.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked        True
dtype: bool

In [12]:
dataset['Embarked'] = dataset['Embarked'].fillna("Unknown")

In [ ]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     n        S
1         1       1  female  38.0      1      0  71.2833     C        C
2         1       3  female  26.0      0      0   7.9250     n        S
3         1       1  female  35.0      1      0  53.1000     C        S
4         0       3    male  35.0      0      0   8.0500     n        S

c. Créez une variable FamilySize qui donne la taille de la famille des passagers

In [ ]:
dataset['FamilySize']=dataset.SibSp+dataset.Parch
dataset.head()

   Survived  Pclass     Sex   Age  ...     Fare  Cabin  Embarked FamilySize
0         0       3    male  22.0  ...   7.2500      n         S          1
1         1       1  female  38.0  ...  71.2833      C         C          1
2         1       3  female  26.0  ...   7.9250      n         S          0
3         1       1  female  35.0  ...  53.1000      C         S          1
4         0       3    male  35.0  ...   8.0500      n         S          0

[5 rows x 10 columns]